# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments & IDE
.env
.venv
env/
venv/
.vscode/
.idea/
.DS_Store

# Local Outputs & Logs
*.log
